body{
			background-color:red; 
			text-align: center;
		}
		header h2{
			color: black ;
		}
		header img{
			width: 150px;
			border-radius: 25%;
		}
		div img{
			border-radius: 25%;
			width: 100px;
		}
footer{
  background-color:#000;
}